/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    /* border: 1px red solid; */
}
body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    color: white;
    height: 100vh;
    margin: 0;
}
/*=============== HEADER ===============*/
header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 4rem;
}
.search {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: solid 2px #22254b;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    opacity: 0.9;
}
.search::placeholder {
    color: #737592;
}
.search:focus {
    outline: none;
    background-color: #22254b;
}

/*=============== MAIN ===============*/
main {
    /* display: flex; */
    /* flex-direction: row; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* flex-wrap: wrap; */
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 1rem;
    /* margin: 1rem; */
    padding: 2rem;
}

/*=============== MOVIE ===============*/
.movie {
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    /* max-width: 100%;
    width: 100%; */
    /* padding-bottom: 0.1rem; */
    /* align-items: center; */
    /* justify-content: space-between; */
    background-color: #373b69;
    /* grid-template-columns: repeat(auto, minmax 200px, 1fr); */
    position: relative;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.movie__img {
    /* height: auto; */
    max-width: 100%;
    min-height: 300px;
}

.movie__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;

    /* margin-top: 1rem; */
    letter-spacing: 1px;
    font-size: 0.7rem;
}
.movie__title {
    margin: 0;
    opacity: 0.9;
}

.movie__rating {
    display: flex;
    background-color: #22254b;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}
.green {
    color: rgb(0, 255, 0);
}
.orange {
    color: rgb(255, 166, 0);
}
.red {
    color: red;
}

.overview {
    position: absolute;
    background-color: #fff;
    color: black;
    padding: 1rem;
    font-size: 0.8rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow-y: auto;
}

.overview h4 {
    margin-top: 0;
}
.movie:hover .overview {
    transform: translateY(0);
}
